/* Display Text in the initial combo box bar */
._comboBox .text{
    -fx-fill: white;
    -fx-font-family: 'Franklin Gothic Medium';
    -fx-font-size: 15;
}

/* Display text in the drop down menu */
._comboBox .combo-box-popup .list-cell .text{
    -fx-fill: Black;
}

._comboBox .arrow{
    -fx-background-color:  #00a6ff;
}

._comboBox .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #00a6ff;
}

._comboBox .combo-box-popup .list-cell:hover {
    -fx-background-color: #0078b9;
}

.scroll-bar:vertical {
    -fx-pref-width: 1em;
}

.scroll-bar:vertical .track{
    -fx-background-color: #6196dd;
    -fx-padding: 0;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #254065;
    -fx-padding: 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.scroll-bar:vertical .increment-button .increment-arrow, .scroll-bar:vertical .decrement-button .decrement-arrow,
.scroll-bar .increment-button, .scroll-bar .decrement-button{
    -fx-padding: 0 0 0 0;
}
